/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', sans-serif;
}

.debug {
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* utility flex */
.d-flex {
    display: flex;
}

/* custom properties */

:root {
    --bg-light: #F6F6F6;
    --bg-dark: #23272a;
    --bg-blue: #255EE9;
    --contrast-color: #748ADB;
}


/* header */
.bg-blu {
    background-color: var(--bg-blue);
}

/* main */
.bg-light {
    background-color: var(--bg-light);
}

.jambo-container {
    width: 800px;
    margin: 0 auto;
}

.image {
    width: 60%;
}

.content {
    width: 40%;
}

/* footer */
footer{
    color: white;
}
.bg-dark {
    background-color: var(--bg-dark);
}