/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

.debug{
    border: 1px solid red;
}

/* utility flex */

.d-flex {
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* general setting button */

.btn{
	display:inline-block;
	padding: 8px 10px;
	border-radius: 20px;
	background-color: white;
	color: var(--bg-dark);
	text-decoration: none;
    font-size: 14px;
}

.btn:hover{
  color: var(--bg-blue);
    
}

.b-oversize{
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
}

.b-oversize:hover{
    box-shadow: 5px 5px 10px grey;
}

/* background color */

.bg-dark {
    background-color: var(--bg-dark);
    color: white;
}
.bg-light {
    background-color: var(--bg-light);
}

.bg-blu {
    background-color: var(--bg-blue);
}

.bg-purple {
   background-color: var(--contrast-color);
   color: white;
}

/* color custom properties */

:root {
    --bg-light: #f6f6f6;
    --bg-dark: #23272a;
    --bg-blue: #255EE9;
    --contrast-color: #748ADB;
}


/* header */

header div{
    padding: 10px 20px;
}
header nav:first-child{
    align-items: center;
    justify-content: space-between;
}
header button a{
    text-decoration: none;
    color: #23272a;
}
ul{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    padding: 6px 10px;
}

header ul li a:hover{
    text-decoration: underline;
}


header section p{  
    font-size: 20px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;

}



/* settings section jambo */

header section:last-child{ 
    background-image: url('../img/jumbo.png') ;
    background-size: cover;
    
}

#hero{
    height: 600px;
    color: white;
    justify-content: center;
    align-items: center;
}


.jambo-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

/* general settings main */

.wave{
    background-image: url('../img/wave.svg');
    width: 100%;
    height: 100px;
    opacity: 0.03;
    margin-top: 80px;
}
.wave-bottom{
    background-image: url('../img/wave.svg');
    width: 100%;
    height: 100px;
    opacity: 0.03;
    transform: rotate(180deg);
}

main div{
    margin-top: 100px;
    margin: 0 auto;
    
}

main div:last-child{
    padding-bottom: 50px;
}

h1{
    font-size: 3em;
    margin-bottom: 20px;
}

h2{
    font-size: 55px;
    font-weight: lighter;
}
h3{
    text-align: center;
    padding-top: 10px;
}

main section{
    padding-top: 80px;
    margin-top: 100pxs;
}

main section p {
    font-size: 22px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: start;
}

/* setting the four main sections  */

.margin{
    margin-top: 160px;
}

.image {
    width: 60%;
}

.image img{
    width: 100%;
}

.content {
    width: 40%;
}

.text-center{
    text-align: center;
}

.image-center{
    text-align: center;
}

.central-container{
    width: 1000px;
}
.bg-image{
    width: 40%;
    height: 44px;
    background-image: url(../img/stars.svg);
    background-size: cover;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#btn-call{
    margin: 0 auto;
    margin-top: 40px;
}
#btn-call:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 9px #8891f270;
}


/* footer */
footer{
    color: white;
}

.flex-spacebtween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    padding: 10px 50px;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    padding: 10px 2px;
}


#bandiera img{
    width: 20px;
    padding-top: 10px;
}

footer h3{
    font-size: 2em;
}
footer h3, h4 {   
    text-align: justify;
    color: var(--contrast-color);
    line-height: 40px;
    
}

footer section div:first-child{
    text-align: left;
}

footer section:last-child{
    border-top: 1px solid var(--contrast-color);
}
footer ul li a{
    text-decoration: none;
    color: white;
}
footer ul li a:hover{
    text-decoration: underline;
}
footer li{
    line-height: 30px;
}

.social-icon img{
    width: 35px;
    padding: 8px;
    margin-top: 10px;
}

#entity {
    font-size: 10px;
}