/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', sans-serif;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* utility flex */
.d-flex {
    display: flex;
}

/* general setting button */

button{
    padding: 6px 12px;
    border-radius: 20px;
    border-color: transparent;
}

/* background color */

.bg-dark {
    background-color: var(--bg-dark);
    color: white;
}
.bg-light {
    background-color: var(--bg-light);
}

.bg-blu {
    background-color: var(--bg-blue);
}

.bg-purple {
   background-color: var(--contrast-color);
   color: white;
}

/* color custom properties */

:root {
    --bg-light: #f6f6f6;
    --bg-dark: #23272a;
    --bg-blue: #255EE9;
    --contrast-color: #748ADB;
}


/* header */

header div{
    padding: 10px 20px;
}
header div:first-child{
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    padding: 6px 10px;
}

header section p{
    
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;

}


/* general settings main */

main section{
    margin-top: 80px;
    padding: 60px;
}

main div{
    margin-top: 100px;
    margin: 0 auto;
    
}

main div:last-child{
    padding-bottom: 50px;
}

h1{
    font-size: 3em;
    margin-bottom: 20px;
}

h2{
    font-size: 55px;
    font-weight: lighter;
}
h3{
    text-align: center;
    padding-top: 10px;
}

main section p {
    font-size: 22px;
    line-height: 29px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: start;
}
.central-container{
    width: 1000px;
}

/* settings section jambo */

header section:last-child{ 
    background-image: url('../img/jumbo.png') ;
    background-size: cover;
    
}

#hero{
    height: 600px;
    color: white;
    justify-content: center;
    align-items: center;
}

.btn-dark{
    height: 40px;
    width: 200px;
    padding: 5px 5px;
    border-radius: 20px;
    border-color: transparent;    
    margin-left: 10px;
}

.btn-white{
    height: 40px;
    width: 150px;
    padding: 5px 5px;
    border-radius: 20px;
    border-color: transparent;  
}

.jambo-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* setting the four main sections  */

.image {
    flex-basis: 60%;
}

.content {
    flex-basis: 40%;

}

.text-center{
    text-align: center;
}

.image-center{
   text-align: center;
}

.bg-image{
    width: 40%;
    height: 44px;
    background-image: url(../img/stars.svg);
    background-size: cover;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#btn-call{
    margin: 0 auto;
    margin-top: 40px;
}

/* footer */
footer{
    color: white;
}

.flex-spacebtween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    padding: 10px 50px;
    border-top: 1px solid var(--contrast-color);
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    padding: 10px 2px;
    border-top: 1px solid var(--contrast-color);
}


#bandiera img{
    width: 20px;
    padding-top: 10px;
}

footer h3{
    font-size: 2em;
}
footer h3, h4 {   
    text-align: justify;
    color: var(--contrast-color);
    line-height: 40px;
    
}

footer section div:first-child{
    text-align: left;
}
footer ul li a{
    text-decoration: none;
    color: white;
}

footer li{
    line-height: 30px;
}

.social-icon img{
    width: 35px;
    padding: 8px;
    margin-top: 10px;
}

#entity {
    font-size: 10px;
}